.modal-background {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .modal-window {
        background: white;
        width: 400px;
        max-width: 90%;
        max-height: 90vh;
        overflow-y: auto;
        border-radius: 8px;
        animation: fadeIn 0.5s ease;

        .modal-header {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 8px;
            border-radius: 8px 8px 0 0;
            background-color: lightgray;


            .close-btn {
                background: none;
                border: none;
                font-size: 22px;
                cursor: pointer;
            }
        }

        .modal-body {
            padding: 16px;
            .ok-btn {
                height: 40px;
                min-width: 80px;
                cursor: pointer;
            }
        }
    }
}


@keyframes fadeIn {
    from {
        transform: scale(0.7);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}