<main class="main">
  <div class="content">
    <h1>Hello in game!</h1>
    <div class="score-holder">
      <svg xmlns="http://www.w3.org" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
        <circle cx="12" cy="7" r="4"></circle>
      </svg>
      <span>vs</span>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
        <path
          d="M21 2H3c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h7l-2 3v1h8v-1l-2-3h7c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 12H3V4h18v10z" />
      </svg>
      <div>
        <span>{{ currentScore.player }} : {{ currentScore.computer }}</span>
      </div>
    </div>

    <app-controls #controls (gameStatusChanged)="gameStatusChanged($event)"></app-controls>
    <app-table [tableGridData]="tableGridData" (cellClicked)="handleCellClick($event)"></app-table>
    <app-modal (close)="closeModal()">
      <div class="modal-content">
        <p>Winner: {{ winner }}</p>
        <p>Score: {{ currentScore.player }} vs {{ currentScore.computer }}</p>
        <div class="modal-img" [ngClass]="{'winner': winner === Winner.Player, 'loser': winner === Winner.Computer}"></div>
      </div>
    </app-modal>
  </div>
</main>